<template>
    <template if:true={account}>
        <lightning-map
            map-markers={mapMarkers}
            markers-title="Restaurant Location"
            zoom-level={zoomLevel}
            center={center}
            options={mapOptions}
            show-footer="false"
        > 
        </lightning-map>
    </template>
</template>