<!--
 - Created by janek on 15.12.2021.
 -->

<!-- Hours To Open Close -->
<template>
    <template if:true={title}>
        <lightning-card title={title} icon-name="utility:clock">
            <p class="slds-p-horizontal_small">{body}</p>
        </lightning-card>
    </template>
</template>